@import url('https://fonts.googleapis.com/css?family=Khula|Telex|Yantramanav');

body {
  padding: 0;
  margin: 0;
}

/*
  Color and size definitions
*/
$accentColor: #018484;
$textPrimaryColor: rgb(90, 87, 87);
$textSecondaryColor: #737373;
$headerPrimaryColor: $accentColor;

$headerPrimarySize: 1em;
$primarySpacing: 1em;
$smallSpacing: 0.5em;

/*
  Common component styles
*/
%headerPrimary {
  font-weight: 600;
  font-family: 'Yantramanav', sans-serif;
  font-size: $headerPrimarySize;
  color: $textPrimaryColor;
  text-transform: capitalize;
}

%bodyPrimary {
  font-weight: 500;
  font-family: 'Khula', sans-serif;
  font-size: 0.95em;
  color: $textSecondaryColor;
}

.sectionHeader {
  @extend %headerPrimary;
  border-bottom: 1px solid;
  font-size: $headerPrimarySize;
  text-transform: uppercase;
  color: $headerPrimaryColor;
  margin-bottom: -5px;
}

.description {
  @extend %bodyPrimary;
}

.accent {
  font-weight: 600;
  font-style: italic;
  color: $textPrimaryColor;
}

/*
  Body styles
*/
.header {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $accentColor;

  .contactName {
    @extend %headerPrimary;
    font-size: 3em;
    color: white;
  }

  .contactDetails {
    list-style-type: none;
    text-align: right;

    a {
      @extend %bodyPrimary;
      text-decoration: none;
      color: white;
    }
  }
}

.resumeBody {
  padding: 20px;
  display: grid;
  grid-column: 1;
  grid-auto-rows: auto;
  grid-gap: $primarySpacing;
}

.experienceSection,
.educationSection,
.skillsSection,
.projectsSection {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: $smallSpacing;
}

.experienceItem,
.educationItem,
.projectItem {
  display: grid;
  grid-template-columns: minmax(auto, 135px) 1fr;
  grid-template-areas: 'title description';
  grid-gap: $primarySpacing;
}

.leftColumn {
  display: flex;
  flex-direction: column;

  .companyName,
  .schoolName,
  .projectName,
  .outreachName {
    @extend %headerPrimary;
  }

  .dateRange {
    @extend %bodyPrimary;
    text-transform: uppercase;
    font-size: 0.85em;
  }
}

.rightColumn {
  grid-area: description;
  display: flex;
  flex-direction: column;

  & > ul {
    margin: 0;
    padding-left: 1.2em;
    list-style-type: square;
  }

  .jobTitle,
  .degreeTitle,
  .outreachTitle {
    @extend %headerPrimary;
  }

  & > .jobTitle ~ .jobTitle {
    margin-top: 10px;
  }

  .jobDescription,
  .projectDescription,
  .degreeDescription,
  .outreachDescription {
    @extend %bodyPrimary;
  }
}

@media print {
  .description {
    font-size: 12px;
  }

  .header {
    .contactDetails {
      a {
        font-size: 14px;
      }
    }
  }

  .leftColumn {
    .companyName,
    .schoolName,
    .projectName,
    .outreachName {
      font-size: 14px;
    }

    .dateRange {
      font-size: 12px;
    }
  }

  .rightColumn {
    .jobTitle,
    .degreeTitle,
    .outreachTitle {
      font-size: 14px;
    }

    .jobDescription,
    .projectDescription,
    .degreeDescription,
    .outreachDescription {
      font-size: 12px;
    }
  }
}
